body {
  background-color: #f9f9f9;
  font-family: "Noto Sans KR", Helvetica;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 1600px;
  margin: 0 auto;
  background: #F9F9F9;
  /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
}

.main-box {
  height: 550px;
  width: 100%;
  /* z-index: 0; */
}

.main-navbar {
  z-index: 2;
  background-color: transparent;
  /* 원하는 z-index 값 설정 */
}

.main-nav {
  color: white;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 14px;
  font-weight: 400;
  margin: 15px;
}

.main-box .main-bg {
  background: linear-gradient(100deg, rgb(41, 162, 208) 0%, rgb(119, 47, 201) 100%);
  height: 750px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: -1; */

}



.logo {
  color: white;
  text-decoration: none;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 40px;
  font-weight: 900;
}

.logo:hover {
  /* color: #0021E5; */
  font-size: 45px;
  color: #3f3f3f
}

.main-text {
  padding: 10px;
  margin-top: 100px;
  /* height: 100%; */
  width: 100%;
  position: relative;
  color: white;

}

.main-introtext {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 100;
  font-size: 36px;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.main-img {
  height: 520px;
  width: 65%;
  margin-left: 300px;
  position: relative;
}


.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text-center {
  text-align: center;
}

.search-form {
  position: relative;
  width: 75%;
}


/* 직군별 중간 선택 navbar */

.middle-navbar {
  height: 70px;
  width: 100%;
  background-color: #333333;
  border-radius: 20px;
  left: 0;
  position: relative;
  top: 10px;
  width: 1600px;
  font-size: 14px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.middle-box {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.middle-box .link-title {
  text-decoration: none;
  color: white;


}



.middle-box:hover {
  background-color: white;
  border-radius: 20px;
  color: white;

}

.link-title:hover {
  background-color: white;
  border-radius: 20px;
  color: #585858;
}

.link-title:active {
  color: #585858;
  background-color: white;
  border-radius: 20px;
}

.middle-menu-icon {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  text-align: center;
}


/* 
.middle-navbar .nav-link.active {
  color: #585858;
  background-color: white;
  border-radius: 20px;
}

.middle-navbar .nav-link {
  color: white;
} */


.title-text {
  color: #777777;
  font-family: Noto Sans KR;
  font-size: 30px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding: 5px;
  margin-left: 10px;
}

.title-text-sub {
  color: #3a3a3a;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px;
  margin-left: 15px;
}

/* ======== newsolution 항목 ======== */

.newsolution-box {
  width: 500px;
  height: 100%;
  margin: 10px;
  background: url(/public/image/main/main01.png);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  /* 세로로 배치 */
  justify-content: center;
  /* 수직 가운데 정렬 */
  align-items: left;
  /* 수평 가운데 정렬 */
  text-align: left;
  /* 텍스트 가운데 정렬 */
  border-radius: 20px;
}


.box-text {
  font-size: 24px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 900;
  color: white;
  margin: 10px;
  margin-left: 80px;

}

.box-textsub {
  font-size: 16px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 200;
  color: white;
  margin: 10px;
  margin-left: 80px;
}

.newsolution-btn {
  width: 150px;
  background-color: white;
  margin: 10px;
  margin-left: 80px;
  border-radius: 20px;
}

.newsolution-btn:hover {
  background-color: #7236CA;
  color: white;
}

.circle-img {
  width: 80px;
  height: 80px;
  margin: 10px;
  padding: 0px;
  margin-left: 80px;
}


.solution-img {
  width: 500px;
  height: 100%;
  margin: 10px;
  position: relative;
}



/* /////// 오버레이 start ///////// */
/* /////// 오버레이 start ///////// */
/* /////// 오버레이 start ///////// */


/* overlay 아이콘에 대한 스타일 */
.overlay-icons {
  position: absolute;
  background-color: rgba(35, 35, 35, 0.9);
  border-radius: 20px;
  width: 31.2em;
  height: 78%;
  top: 100%;
  display: none;

}

.solution-img:hover .overlay-icons {
  display: block;
  top: 0%;

}

/* 각 아이콘의 스타일 */
.overlay-icons img {
  width: 50px;
  /* 적절한 크기로 조절 */
  margin: 0 5px;
}

.solution-img:hover {
  display: block;
}

/* 각 아이콘의 스타일 */
.overlay-icons img {
  width: 50px;
  /* 적절한 크기로 조절 */
  margin: 10px;
}

/* 아이콘 텍스트 스타일 */
.overlay-icons a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* /////// 오버레이 end ///////// */
/* /////// 오버레이 end ///////// */
/* /////// 오버레이 end ///////// */

.solution-title {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 700;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  color: #585858
}

.solution-title-fullname {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 400;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  color: #585858
}

.solution-titlekr {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 500;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  color: #585858
}

/* ======== main banner 정의 ======== */
.main-banner {
  margin: 10px;
  width: 100%;
  height: 442px;
  border-radius: 20px;
  background: url(/public/image/main/banner01.png);
  display: flex;
  flex-direction: column;
  /* 세로로 배치 */
  justify-content: center;
  /* 수직 가운데 정렬 */
  align-items: left;
  /* 수평 가운데 정렬 */
  text-align: left;
  /* 텍스트 가운데 정렬 */
}

.banner-btn {
  width: 150px;
  background-color: #DD1B8F;
  margin: 10px;
  margin-left: 80px;
  border-radius: 20px;
}

.banner-btn .banner-link {
  text-decoration: none;
  color: white;
}


.banner-btn:hover {
  background-color: #7236CA;
  color: white;
}

.banner-line {
  border: 1px solid white;
  width: 400px;
  margin-left: 80px;
}


/* ======== Most Popular AI/DT 정의 ======== */
.mostpopular-box {
  width: 500px;
  height: 100%;
  margin: 10px;
  background: url(/public/image/main/main02.png);
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  /* 세로로 배치 */
  justify-content: center;
  /* 수직 가운데 정렬 */
  align-items: left;
  /* 수평 가운데 정렬 */
  text-align: left;
  /* 텍스트 가운데 정렬 */
  border-radius: 20px;
}

.mostpopular-btn {
  width: 150px;
  background-color: white;
  margin: 10px;
  margin-left: 80px;
  border-radius: 20px;
}

.mostpopular-btn:hover {
  background-color: #0021E5;
  color: white;
}

/* ======== joinus 정의 ======== */

.joinus-title {
  font-size: 30px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 300;
  color: #5395d1;
  height: 75px;
  margin: 0;


}

.joinus-box {
  display: flex;
  flex-direction: column;
  /* 세로로 배치 */
  justify-content: center;
  align-items: center;
  /* 수평 가운데 정렬 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -4px -4px 10px #0000001a, 4px 4px 10px #0000001a;
  height: 360px;
  width: 350px;
  padding: 10px;
  /* position: relative; */
  transition: transform 0.3s ease-out;
}

.joinus-box:hover {
  /* 마우스 오버 시의 변화를 정의하는 부분 */
  transform: translateY(-20px);
  /* 위로 10px 이동하도록 설정 */
}


.person-circle {
  height: 100px;
  left: 125px;
  top: 36px;
  width: 100px;
  margin: 20px;
}

.person-name {
  font-size: 20px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 800;
  color: #5395d1;
  margin: 0px;
}

.person-team {
  font-size: 14px;
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 400;
  color: #757575;
  margin: 0px;
}

/* ======== footer 정의 ======== */
.footermenu {
  width: 120px;
  color: white;
  font-size: 12px;
  font-family: 'Noto Sans KR', Helvetica;
}

.footermenu:hover {
  font-size: 16px;
  color: #333333;
  background-color: #f9f9f9;
  border-radius: 20px;
}

/* ======== product 정의 ======== */

.product-bg {
  background: linear-gradient(100deg, #4CC5F2 0%, #1CA8DB 100%);
  height: 600px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: -1; */
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
}

.product-left {
  padding: 10px;
  /* height: 100%; */
  width: 100%;
  position: relative;
  color: white;
}

.product-img {
  width: 500px;
  height: 100%;
  margin: 10px;
  position: relative;

}

.product-btn {
  width: 200px;
  margin: 10px;
}

.product-btn a {
  color: #333333;
}


.product-title {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 700;
  font-size: 45px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.product-title-fullname {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 400;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.product-titlekr {
  font-family: "Noto Sans KR", Helvetica;
  font-weight: 500;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  color: white;
}


.product-contentsbox {
  width: 1600px;
  top: -100px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}


.product-contentcontainer {
  max-width: 1400px;
  margin: 0 auto;
  /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
}

.product_lang_icons {
  height: 50px;
}

.product-person-circle {
  height: 200px;
  width: 200px;
  margin: 50px;
}


/* ======== introduction 정의 ======== */

.introduction-contentsbox {
  width: 1600px;
}

.introduction-bg {

  height: 680px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* z-index: -1; */
}

.introduction-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 또는 contain, 다른 속성 사용 가능 */
}

.introduction-card {
  background: rgba(216, 216, 216, 0.90);
  border-radius: 10px;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding: 30px;

}


.introduction-description {
  background-color: rgba(216, 216, 216, 0.90);
  margin: 20px;

}

.introduction-description-title {
  color: #ffffff;
  background-color: #5395d1;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.introduction-description-contents {
  background-color: #ececec;
  box-shadow: 0px 4px 4px #00000040;
  padding: 20px;
  margin-top: 20px;
  height: 100%;
}

.personcard-box {
  position: relative;
  margin: 10px;
  left: 100px;
  top: 10px;

}

.personcard-ellipse {
  background-color: #d9d9d999;
  border-radius: 190px/20px;
  height: 40px;
  left: 0;
  width: 380px;
  position: absolute;
  top: 350px;
}



.personcard-rectangle {
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 350px;
  left: 33px;
  position: absolute;
  top: 20px;
  width: 316px;

}

.personcard-rectangle-2 {
  background-color: #5395d11f;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 300px;
  left: 40px;
  position: absolute;
  top: 56px;
  width: 300px;
  text-align: center;

}

.personcard-rectangle-3 {
  background-color: #5395d11f;
  border-radius: 5px;
  height: 71px;
  left: 175px;
  top: 0;
  width: 30px;
  position: absolute;
}

.introduction-person-circle {
  height: 200px;
  width: 200px;
  margin: 20px;
}

.personcard-nametag {
  width: 280px;
  background-color: #5395d1;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  left: 10px;
  border-radius: 5px;
}


/* =============================================================== */
/* ScrollButton.css */

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-button:hover {
  background-color: #2980b9;
}






/* =============================================================== */



/* ================Animaiton=================== */
.animation-updown {
  animation: moveUpDown 2s infinite;
}


/* ======== gap 정의 ======== */
.gap-60 {
  clear: both;
  height: 60px;
}

.gap-40 {
  clear: both;
  height: 40px;
}

.gap-30 {
  clear: both;
  height: 30px;
}

.gap-20 {
  clear: both;
  height: 20px;
}